<template>
    <div class="container py-4" v-if="notesReady">
        <div v-if="notes.length > 0" class="row justify-content-center">
            <div class="col-lg-12">
                <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#storeModal">New Note</button>
            </div>
            <div class="col-sm-12 col-lg-6 mt-3 mb-5" v-for="(note, index) in notes">
                <div class="card h-100 mt-3">
                    <div class="card-body w-100">
                        <p class="card-text" v-html="note['content'].substring(0, 600)"></p>
                        <span v-if="note['content'].length > 600"><b>...</b></span>
                    </div>
                    <div class="card-footer">
                        <span v-if="note['updated_by']" class="float-left font-weight-bold">Updated By: {{note['updatedby']['name']}}</span>
                        <span class="float-right font-weight-bold">Created By: {{note['createdby']['name']}}</span>
                        <br>
                        <div class="text-right mt-2">
                            <a data-toggle="modal" v-bind:data-id=index data-target="#viewModal" href="javascript:void(0)" class="open-view card-link">View</a>
                            <a data-toggle="modal" data-target="#updateModal" href="javascript:void(0)" class="open-update card-link" v-on:click="editNote(index)">Edit</a>
                            <a v-if="note['created_by'] == user" href="javascript:void(0)" class="card-link" v-on:click="deleteNote(note['id'])">Remove</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-else class="row">
            <div class="col-md-12 mt-5">
                <div class="text-center">
                    <h4>No notes available, Create one?</h4><br>
                    <wysiwyg class="wsywyg" v-model="newNote"/>
                </div>
                <div class="text-right mt-3">
                    <input type="checkbox" id="checkbox" v-model="newShare">
                    <span class="text-primary">Share to others</span>
                    <i class="fa fa-question-circle" data-toggle="tooltip" show title="Other users can view and edit your note"></i>
                    <button class="btn btn-success ml-4" v-on:click="storeNote(0)">Create</button>
                </div>
            </div>
        </div>

    <!-- Store Modal -->
    <div class="modal fade bd-example-modal-lg" id="storeModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body mt-3">
                    <wysiwyg class="wsywyg" v-model="modalStore"/>
                </div>
                <div class="modal-footer">
                    <input type="checkbox" id="checkbox" v-model="modalStoreShare">
                    <span class="text-primary">Share to others</span>
                    <i class="fa fa-question-circle" data-toggle="tooltip" show title="Other users can view and edit your note"></i>
                </div>
                <div class="text-right m-3">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="storeSave" class="btn btn-primary" v-on:click="storeNote(1)">Save Note</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bd-example-modal-lg" id="updateModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body mt-3">
                    <wysiwyg class="wsywyg" v-model="modalUpdate"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button id="updateSave" class="btn btn-primary" v-on:click="updateNote()">Update Note</button>
                </div>
            </div>
        </div>
    </div>

    <!-- View Modal  -->
    <div class="modal fade bd-example-modal-lg" id="viewModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body mt-3"></div>
                <div class="text-right m-3">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Okay</button>
                </div>
            </div>
        </div>
    </div>


</div>

</template>

<script>
export default {
    name: "Notes",
    props: ['user'],
    data() {
        return {
            source : '/api/notes',
            notesReady: false,
            notes: [],
            newNote: '',
            newShare: false,
            modalStore: '',
            modalStoreShare: false,
            modalUpdateId: '',
            modalUpdate: ''
        };
    },
    computed: {},
    mounted(){},
    async created() {
        await this.getNotes()

        var self = this; // assign context to self variable
        $(document).on("click", ".open-view", function () {
            var index = $(this).data('id');
            $('#viewModal .modal-body').html(self.notes[index]['content']);
        });
    },
    methods: {
        async getNotes() {
            await axios.get(this.source)
                .then((response) => {
                    this.notes = response.data
                    this.notesReady = true
                })
                .catch((err) => {console.log(err)})
        },
        storeNote(modal) {
            if(modal){
                var data = {
                    note: this.modalStore,
                    share: this.modalStoreShare
                }
            }
            else{
                var data = {
                    note: this.newNote,
                    share: this.newShare
                }
            }
            if(this.modalStore !="" || this.newNote !=""){
                $('#storeSave').prop('disabled', true);

                axios.post(this.source, { data })
                    .then((response) => {
                        $('#storeModal').modal('hide');
                        $('#storeSave').prop('disabled', false);

                        this.$fire({
                            title: "Created Successfully",
                            type: "success",
                            timer: 2000
                        }).then(r => {});

                        this.newNote = this.modalStore = "";
                        this.newShare = this.modalStoreShare = false;

                        this.getNotes()
                    })
                    .catch((err) => {console.log(err)})
            }
            else{
                this.contentAlertValidation()
            }
        },
        editNote(index) {
            this.modalUpdate = this.notes[index]['content'];
            this.modalUpdateId = this.notes[index]['id'];
        },
        updateNote() {
            var data = {
                note: this.modalUpdate,
            }
            $('#updateSave').prop('disabled', true);

            axios.put(this.source +'/'+ this.modalUpdateId, data)
                .then((response) => {
                    $('#updateModal').modal('hide');
                    $('#updateSave').prop('disabled', false);

                    this.$fire({
                        title: "Updated Successfully",
                        type: "success",
                        timer: 2000
                    }).then(r => {});

                    this.modalUpdate = "";
                    this.getNotes()
                })
                .catch((err) => {console.log(err)})
        },
        deleteNote(id) {
            this.$confirm("Are you sure?").then(() => {
                axios.delete(this.source+'/'+id)
                    .then((response) => {
                        this.$fire({
                            title: "Deleted Successfully",
                            type: "warning",
                            timer: 2000
                        }).then(r => {});

                        this.getNotes()
                        this.notesReady = true
                    })
                    .catch((err) => {console.log(err)})
            });
        },
        contentAlertValidation(){
            this.$fire({
                title: "Content is Required",
                type: "warning",
                timer: 2000
            }).then(r => {});
        }

    },
};
</script>

<style scoped>
    .wsywyg{ min-height: 500px; }
    .card{
        min-height: 300px;
        max-height: 350px;
    }
    /* Important part */
    .modal-dialog{
        overflow-y: initial !important
    }
    .modal-body{
        height: 80vh;
        overflow-y: auto;
    }
</style>